.curso-header {
    background: #ffffff;
    border-radius: 14px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
}

.competencias-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
}

.competencia-card {
    background: #fff;
    padding: 20px;
    border-radius: 14px;
    transition: transform .25s, box-shadow .25s;
}

.competencia-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

.title {
    font-weight: 600;
}

.desc {
    font-size: 0.92rem;
    color: #555;
}

.info {
    font-size: 0.87rem;
    color: #444;
    margin-bottom: 15px;
}

.btn-group-actions {
    display: flex;
    gap: 8px;
}

.main-content {
  margin-top: 95px !important;
}
